<html>
<head>
	<link rel="stylesheet" type="text/css" href="iconIntro.css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>

<div class="card">
  	<img id="introIcons" src="../assets/introIcon.png" height="250px">
	    <h2><b>Learn Common Icons</b></h2> 
	    <h4><em>How are icons designed?</em></h4>
	    <p>Icons are often designed based on their real-world counterparts. For example, the icon for "delete" is often represented as a trashcan.</p> 
	    <p>Keep this in mind while trying to determine the meaning of an icon.</p>
  	</div>
</html>
