.card {
	font-family: "Open Sans";
	text-align: left;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 250px;
    padding: 40px;
}

#introIcons {
	float: right;
}