<html>
<head>
	<link rel="stylesheet" type="text/css" href="iconIntro.css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>

<div class="card">
	<div class="card-header">
	<div class="card-title">
		<h1>Learn Common Icons</h1>
		<h4>Distinguish easily confused icons, types of menus and more.</h4>
	</div>
	</div>
	<div class="card-content-left">
		<b>How are icons designed?</b>
		<p>Icons are often designed based on their real-world counterparts. For example, the icon for "delete" is often represented
	as a trashcan.</p>
	<p>At the end of this section is a matching game with 40 icons</p>
	<b>Icon Matching Game</b>
		<ol>
			<li>Click on an icon in the left column</li>
			<li>Click on its corresponding label in the right column</li>
			<li>A line is only drawn for correct matches</li>
			<br>
		</ol>
		
	</div>   
    <div class="card-content-right">
		<img id="introIcons" src="../assets/introIcons.png">
    </div>
</div>
	
<button id="continue">Continue
	<i class="material-icons md-24 nav-icon red">play_arrow</i>
</button>
</html>
