<div class="email flashcard">
<br>
<br>
<label id = "email term" style = "display: block;"><img src = "../../assets/matching/imgs/icon_add.png"></label>
<label id = "email definition" style = "display: none;">Here is the definition</label>
<br>
<br>
<input id ="email back_butt" type="button" (click)="backcard()" value="Last Card">
<input id ="email flip_butt" type="button" (click)="flipcard()" value="Flip Card">
<input id ="email rotate_butt" type="button" (click)="rotatecard()" value="Next Card">
<br>
</div>