<!-- Citation: https://plnkr.co/edit/Y7hAyl02d5nhk2Rke3uO?p=preview from
https://stackoverflow.com/questions/43544910/angular-2-click-to-show-and-hide -->
<html>
<head>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>

<div class="card"> 
	<div class="card-header">
	<div class="card-title">
		<h1>Real-World Challenge: E-Mail</h1>
		<h4>Practice the skills you have learned in this section on your devices.</h4>
	</div>
	</div>

		<div class="real-world-challenge">
			<h3>Challenge 1: Send an email to a friend.</h3>
			<button (click)="toggleHint1()" class="hint-toggle">hint</button>
			<div class="hint-details" id="hint1" *ngIf="showHide1">
				<p>First, you need to locate the "compose" button to create the email. This may either be the word "Compose" or it may be a symbol, see the "Icons" section for more information.</p>
			</div>
		</div>
		
 
		<div class="real-world-challenge">
			<h3>Challenge 2: Send an email with two photos attached.</h3>
			<button (click)="toggleHint2()" class="hint-toggle">hint</button>
			<div class="hint-details" id="hint2" *ngIf="showHide2">
				<p>This is an extension of Challenge 1. This time, you need to add the two photos of your choice using the "attach" button. The "attach" icon typically resembles a paperclip and can be used to attach various types of files, not just photos. This will open up your file broswer which you can navigate to select your photo. Your photos are typically stored in a dedicated folder named "photos" or "pictures".</p>
		</div>
		</div>

</div>

</html>
