<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h1>Video Chat</h1>
      <h4>Learn how to set up a video chat.</h4>
    </div>
  </div>
  <div class="card-content">
    <b>Video Chat</b>
    <img id="video-chat" src="../assets/video-chat.png">
    <p class="tab">You can talk face-to-face with anyone as long as both you and the other person have a device 
       with a webcam (web camera) and can access the internet.</p>
    <p class="tab">Read the descriptions below and determine which service best suits your needs.
      Then, click on any of the three links below to access the download page. Follow the instructions
      on the site to download it onto your device. The site will also give you a short tutorial on how to 
      set up video calls.</p>
      <br>
    <b>Most popular ways to video chat</b>
    <ul>
      <li><a href="https://hangouts.google.com/">Google Hangouts</a></li>
        <p class="tab">Can download on Android phones &amp; tablets, Apple Devices, and Google Chrome Internet Browser.</p>
        <p class="tab">Requires a Google Account (if you use Gmail, you have already have a Google Account).</p>
        
      <li><a href="https://www.skype.com/en/">Skype</a></li>
        <p class="tab">Available for most devices (Windows Computer, Mac Computer, iPhone, iPad, Amazon Tablets, etc.)</p>
        <p class="tab">The other person you would like to video chat with must also have or create a Skype account.</p>
      <li><a href="https://support.apple.com/en-us/HT204380">FaceTime</a></li>
        <p class="tab">Exclusively for Apple devices (iPhone, iPad, MacBook, etc.)</p>
        <p class="tab">If the other person you would like to video chat with does not have an Apple device, then you
          will not be able to call them.</p>
      <br>
    </ul>


</div>
