<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<div style="text-align:center;">
  
  <header>
      <img id="text-logo" src="../assets/nimble_logo_transparent_80.png">
      <button id="nav-btn-help">Help <i class="material-icons md-18 nav-icon">help</i></button>
  </header>
  
  <hr>  <!-- mustard yellow divider -->

  <div id="sidebar">
    <button class="nav-btn"
     [ngClass]="{'nav-btn-cur' : appStatus.isIntro}"
     (click)="setStatus('isIntro')">1. Introduction</button>
    <button class="nav-btn"
     [ngClass]="{'nav-btn-cur' : appStatus.isFlash}" 
     (click)="setStatus('isFlash')">2. Terminology</button>
    <button class="nav-btn"
     [ngClass]="{'nav-btn-cur' : appStatus.isMatch}"
     (click)="setStatus('isMatch')">3. Icons</button>
    <button class="nav-btn" 
     [ngClass]="{'nav-btn-cur' : appStatus.isGest}" 
     (click)="setStatus('isGest')">4. Essential Skills</button>
    <button class="nav-btn"
     [ngClass]="{'nav-btn-cur' : appStatus.isMail}"
     (click)="setStatus('isMail')">5. E-Mail</button>
  </div>

  <body>
    <!-- <app-intro-nimble *ngIf="appStatus.isIntro"></app-intro-nimble> -->
    <app-intro-icons *ngIf="appStatus.isMatch"></app-intro-icons>
    <app-icons-teach></app-icons-teach>
    <!-- <app-matching ></app-matching> -->
    <app-intro-terminology *ngIf="appStatus.isFlash"></app-intro-terminology> 
    <!-- <app-flashcard></app-flashcard> -->
    <app-intro-gestures *ngIf="appStatus.isGest"></app-intro-gestures>
    <!-- <app-email-rwc></app-email-rwc> -->
    <app-intro-email *ngIf="appStatus.isMail"></app-intro-email>
    <!-- <app-icons-teach-detailed></app-icons-teach-detailed> -->
    <!-- <app-nimble-help></app-nimble-help> -->
  </body>
</div>
