header {
  position: relative;
  background-color: white;
  height: 110px;
}

body {
  position: relative;
  height: 330px;
  width: 600px;
  padding-left: 25%;
}


.nav-btn {
  background: #666;
  color: white;
  height: 65px;
  width: 200px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: left;
  font-weight: lighter;
  font-size: 26px !important;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.4s ease;
}

.nav-btn:hover {
  color: black;
  background-color: white;
  transition: 0.4s ease;
}

.nav-btn-cur {
  color: white !important;
  background: #68c9d6 !important;
  font-weight: bold !important;
}

.nav-icon {
  vertical-align: middle;
}

.red {
  color: #ED1C24;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container {
  /* text inside card under image */
  padding: 2px 16px;
}

img.resize {
  max-width:100%;
  max-height:100%;
}

#text-logo {
  position: absolute;
  height: 110px;
  top: 0px;
  left: 0px;
}

#sidebar {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 25%;
}

#nav-btn-help {
  position: absolute;
  background-color: white;
  border: none;
  font-size: 16px;
  top: 58px;
  left: 920px;
}


#nav-btn-start {
  position: absolute;
  background-color: white;
  border: none;
  font-size: large;
  font-weight: bold;
  right: 5px;
}

#hdr-rule {
  color: #F7BE5F;
  size: 6;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}