header {
  position: relative;
  background-color: #EBEBEB;
  height: 110px;
}

body {
  position: relative;
  height: 330px;
  width: 600px;
  padding-left: 25%;
}

.nav-btn {
  background: #A8A8A8;
  color: #FFFFFF;
  height: 65px;
  width: 200px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: left;
  font-weight: lighter;
  font-size: 26px !important;
  border: none;
}

.nav-btn-cur {
  background: #666666 !important;
  font-weight: bold !important;
}

.nav-icon {
  vertical-align: middle;
}

.red {
  color: #ED1C24;
}

#text-logo {
  position: absolute;
  height: 110px;
  top: 0px;
  left: 0px;
}

#sidebar {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 25%;
}

#nav-btn-help {
  position: absolute;
  background: #EBEBEB;
  border: none;
  font-size: 16px;
  top: 58px;
  left: 920px;
}

#nav-btn-start {
  position: absolute;
  background: white;
  border: none;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
}
