header {
  position: relative;
  background-color: var(--header-color);
  height: 110px;
}

body {
  position: relative;
  height: 330px;
  width: 600px;
  margin-left: 25%;
}

.nav-btn {
  background-color: #666666;
  border: none;
  color: white;
  margin: 2px 0px;
  text-align: left;
  text-decoration: none;
  font-size: 26px !important;
  font-weight: lighter;
  height: 65px;
  width: 200px;
  cursor: pointer;

  transition: 0.5s ease;
}

.nav-btn-cur {
  background: #6CC9D5 !important;
  font-weight: bold !important;
}

.nav-icon {
  vertical-align: middle;
}

.red {
  color: #ED1C24 !important;
}

.nav-btn:hover {
  background-color: #000000;

  transition: 0.5s ease;
}

#text-logo {
  position: absolute;
  height: 110px;
  top: 0px;
  left: 0px;
}

#hr {
  border: none;
  background-color: #F6BD66;
  height: 14px;
}

#sidebar {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 25%;
}

#nav-btn-help {
  position: absolute;
  background: var(--header-color);
  border: none;
  font-size: var(--btn-font-size);
  top: 50px;
  left: 842px;
}

#nav-btn-start {
  position: absolute;
  background: white;
  border: none;
  font-size: var(--btn-font-size);
  bottom: 10px;
  right: 10px;
  font-weight: bold;
}
