<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<div style="
  text-align:center;
">
  <header>
    <img id="text-logo" src="../assets/nimble_text_logo.png">
    <button id="nav-btn-help">Help <i class="material-icons md-48 nav-icon">help</i></button>
  </header>
  
  <hr color="#F7BE5F" size="6">  <!-- yellow divider -->

  <div id="sidebar">
    <button class="nav-btn nav-btn-cur">1. Introduction</button>
    <button class="nav-btn">2. Warm up</button>
    <button class="nav-btn">3. Terminology</button>
    <button class="nav-btn">4. Icons</button>
    <button class="nav-btn">5. Review</button>
  </div>

  <body>
  <div class="card">
    <img class="resize" id="intro-image" src="../assets/intro-image.png">
    <div class="container">
       <h2><b>Learn to navigate your devices quickly &amp; easily.</b></h2> 
       <p>Learn basic icons &amp; terminology used across all of your devices.</p> 
     </div>
  </div>

  <br>
  <button id="nav-btn-start">Start<i class="material-icons md-48 nav-icon red">play_arrow</i></button>

  </body>
</div>
