.card {
	position: relative;
	text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    margin-top: 20px;
}

.card-header {
	background-color: #69c9d6;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    background-image: url('../../assets/background_pattern_light.png');
    box-sizing: border-box; /* puts border inside of div instead of around */
    border-bottom: 6px solid #69c9d6;
}

.card-title {
	padding:20px;
	padding-left: 50px;
}

h1 {
    color: rgba(0,0,0,0.8);
}

h4 {
    color: rgba(0,0,0,0.6);
}

p, ul, b, li{
    color: rgba(0,0,0,0.75);
}

ul {
    list-style-type: square;
}

li {
    padding: 8px;
}

.card-content-left {
    font-size: larger;
    width: 50%;
    margin-top: 25px;
    padding: 25px;
    padding-left: 50px;
    display: inline-block;
}

#introEmail {
    position: absolute;
    display: inline-block;
    height: 170px;
    right: 50px;
    top: 220px;
    padding: 10px;
}

.red {
  color: #FE5F55;
}
