<html>

<head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h1>Learn Essential Skills</h1>
      <h4>Learn essential skills for navigating both mobile and non-mobile devices.</h4>
    </div>
  </div>
  <div class="card-content-left">
    <b>Content</b>
    <ul>
      <li>Write an email</li>
      <li>Attach pictures to message</li>
      <li>Checking email</li>
    </ul>
  </div>
  <div class="card-content-right">
    <img id="introEmail" src="../assets/intro-email.png">
  </div>
</div>

<button id="continue">Continue
  <i class="material-icons md-24 nav-icon red">play_arrow</i>
</button>

</html>