<html>
<head>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>

<div class="card"> 
	<div class="card-header">
	<div class="card-title">
		<h2>Learn Basic E-Mail Functionality</h2>
		<h4>Master the most common features of e-mail programs used across your devices.</h4>
	</div>
	</div>

	<div class="card-content-left">
		<p>In this section, you will learn basic e-email skills so that you can feel confident sending and receiving emails including photos and links.</p>
		<p>Towards the end of the section you will be able to test your skills with both virtual (within this website) and real world challenges (on your own devices).</p>
	</div>
	<div class="card-content-right">
		<img id="introEmail" src="../assets/introEmail.png" height="150px">
	</div>
</div>

</html>
