<html>

<head>
  <link rel="stylesheet" type="text/css" href="iconIntro.css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h1>Adjust Basic Settings</h1>
      <h4>Learn how to change the brightness and volume on your devices.</h4>
    </div>
  </div>
  <div class="card-content">
    <h2>Desktop</h2>
    <h4>Adjust Volume</h4>
    <ol>
      <li>Locate your volume keys on your keyboard</li>
      <li>Press the left button to lower the volume</li>
      <li>Press the right button to raise the volume</li>
      <li>If there are three buttons for volume, the third button is "mute"</li>
    </ol>
    <img id="volume" src="../assets/adjust-settings/desktop_volume.png">
    <br>

    <h4>Adjust Brightness</h4>
    <ol>
      <li>Locate the brightness keys on your keyboard</li>
      <li>Press the left button to lower the brightness</li>
      <li>Press the right button to raise the brightness</li>
    </ol>
    <img id="desktop_brightness" src="../assets/adjust-settings/desktop_brightness.jpg">

    <br>
    <br>
    <h2>Mobile Devices</h2>
    <h4>Adjust Volume</h4>
    <ol>
      <li>Locate your volume keys on the side of your device</li>
      <li>Press the higher button to raise the volume</li>
      <li>Press the lower button to lower the volume</li>
      <br>
    </ol>
    <img id="mobile_volume" src="../assets/adjust-settings/volume_keys.jpg">

    <h4>Adjust Brightness</h4>
    <ol>
      <li>Locate the settings icon</li>
      <li>Look for the display settings in the menu</li>
      <li>Drag the slider to the right to raise the volume</li>
      <li>Drag the slider to the left to lower the volume</li>
      <li>You can toggle auto-brightness to change the brightness automatically</li>
      <li>Shortcut: you can also adjust the volume by swiping from the 
        top or bottom of the screen (depends on your device) to access a quick
        menu</li>
      
    </ol>

    <img id="mobile_brightness" src="../assets/adjust-settings/brightPhone.jpg">

  </div>
</div>

</html>