.smartphone {
  position: relative;
  width: 180px;
  height: 320px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

.smartphone #home-btn{
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  bottom: -55px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
  
}

.content #email{
	position: absolute;
	bottom: 66px;
	left: 8px;
	height: 37px;
}

.content #e1{
	position: absolute;
	top: 42px;
	left: 16px;
	height: 45px;
}

.content #e2{
	position: absolute;
	top: 97px;
	left: 16px;
	height: 45px;
}

.content #e3{
	position: absolute;
	top: 153.5px;
	left: 16px;
	height: 44px;
}

.content #e4{
	position: absolute;
	top: 209.5px;
	left: 16px;
	height: 43px;
}

.content #e5{
	position: absolute;
	top: 265px;
	left: 16px;
	height: 33.5px;
}

.content #inbox{
	position: absolute;
	top: 14px;
	left: 5px;
	height: 18px;
}


#next-btn{
  width: 50px;
  height: 25px;
  position: relative;
}


/* The screen (or content) of the device */
.smartphone #screen {
  width: 180px;
  height: 329px;
  background: white;
}