<p id="info"> Challenge: Open the email app and then open a email. You can return to the inbox from an email but clicking on the inbox button at the top of the screen. Then return to the home screen by clicking the home button!</p>

<div class="smartphone">
	<div class="content">
		<img id="screen" src="../../assets/phone/home.png">
		<img id="email" src="../../assets/phone/appicon.jpg" (click) = "openAppEmail()"> 
		<img id="e1" src="../../assets/phone/e1.jpg" (click) = "openEmail('email1')" style="display: none;">
		<img id="e2" src="../../assets/phone/e2.jpg" (click) = "openEmail('email2')" style="display: none;">
		<img id="e3" src="../../assets/phone/e3.jpg" (click) = "openEmail('email3')" style="display: none;">
		<img id="e4" src="../../assets/phone/e4.jpg" (click) = "openEmail('email4')" style="display: none;"> 
		<img id="e5" src="../../assets/phone/e5.jpg" (click) = "openEmail('email5')" style="display: none;">
		<img id="inbox" src="../../assets/phone/inboxbutton.jpg" (click) = "openAppEmail()" style="display: none;">
	</div>
	<button id="home-btn" (click) = "goHome()"> </button>
</div>
