<head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h1>Learn Basic Icons by Category</h1>
      <h4>Distinctions between easily confused icons.</h4>
    </div>
  </div>

  <div class="card-content">
 <h3>Communication</h3>
 <p>Icons for E-Mail applications typically use envelopes or postage stamps
   while other types of messaging applications such as SMS/Text Messaging use 
   speech bubbles.
 </p>

 <table style="width: 90%">
  <tr>
    <th>Icon</th>
    <th>Label</th>
    <th>Note</th>
  </tr>

   <tr>
    <td><img src="../assets/icons-teach/icons8-email-envelope.png"></td> 
    <td>Email </td>
    <td>Generic</td>
   </tr>

  <tr>
    <td><img src="../assets/icons-teach/icons8-gmail.png"></td>
    <td>Gmail</td>
    <td>Google Mail</td>
  </tr>

  <tr>
    <td><img src="../assets/matching/imgs/icon_emailmac.png"></td>
    <td>Mail</td>
    <td>Mac/Apple Computers</td>
  </tr>

  <tr>
    <td><img src="../assets/icons-teach/icons8-sms.png"></td>
    <td>SMS</td>
    <td>Text Messaging</td>
  </tr>
 </table>

 <h3>Types of Menus</h3>
 <p>Menus provide navigation to other elements and features. 
   This means some common functionality may be hidden in a menu, 
   especially on mobile devices where screen "real-estate" or screen
   space is limited.
 </p>
 <table style="width: 90%">
   <tr>
     <th>Menu Icon</th>
     <th>Name</th>
     <th>Description</th>
   </tr>

   <tr>
     <td><img src="../assets/icons-teach/icons8-hamburger-menu-filled.png"></td>
     <td>Hamburger Menu</td>
     <td>The three (or more) lines resemble a hamburger, hence the name.
       This type of menu usually hides the primary navigation (similar to a 
       glossary). Often used on mobile, this icon can be clicked on to display
       the menu.
     </td>
   </tr>

   <tr>
     <td><img src="../assets/icons-teach/icons8-three-dots-symbol.png"></td>
     <td>Overflow (or 3-dot) Menu</td>
     <td>The three dots (horizontal or vertical) resemble an ellipsis (...).
       This small menu holds items that are not displayed to reduce clutter 
       on the screen or because there is no more space.
     </td>
   </tr>

   <tr>
     <td><img src="../assets/icons-teach/icons8-drop-down-arrow.png"></td>
     <td>Drop-down Menu</td>
     <td>Upon clicking or hovering over this type of menu, a menu
       will drop down (hence the name) to display more options. It can often
       be clicked again to hide the menu.
     </td>
   </tr>
 </table>

 <h3>Internet Browsers</h3>
 <p>Only the most common internet browsers are introduced. Look 
   for your browser in this list.
 </p>
 <table style="width: 90%">
   <tr>
     <th>Icon</th>
     <th>Name</th>
     <th>Description</th>
   </tr>
   <tr>
     <td><img src="../assets/icons-teach/icons8-chrome.png"></td>
     <td>Chrome</td>
     <td>Google Chrome</td>
   </tr>

  <tr>
    <td><img src="../assets/icons-teach/icons8-firefox.png"></td>
    <td>Firefox</td>
    <td>Mozilla Firefox</td>
  </tr>
<tr>
  <td><img src="../assets/icons-teach/icons8-safari.png"></td>
  <td>Safari</td>
  <td>Apple Safari (the icon is a compass)</td>
</tr>

<tr>
  <td><img src="../assets/icons-teach/icons8-internet-explorer.png"></td>
  <td>Internet Explorer</td>
  <td>Microsoft Internet Explorer (IE) </td>
</tr>
 </table>
<br>
<b>Note:</b>
 The remaining icons can be found on the next page in a complete list
 as most do not require much further explanation.
  </div>
</div>