.card {
	position: relative;
	text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: 10px;
    margin-top: 20px;
}

.card-header {
	background-color: #69c9d6;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    background-image: url('../../assets/background_pattern_light.png');
    box-sizing: border-box; /* puts border inside of div instead of around */
}

.card-title {
	padding:20px;
	padding-left: 50px;
}

.card-content {
    /* border-left: 6px solid #f7be5f; */
    padding: 25px;
}

table {
    margin-left: 50px;
    border-left: 6px solid #f7be5f;
}

th {
    color: #69c9d6;
}

th, td {
    padding: 5px 25px ;
    text-align: left;
        /* border: 2px solid red; */
}

hr {
  padding-top: 2px;
  color: #f7be5f;
  background-color: #f7be5f;
  border: none;
}

h1 {
    color:rgba(0,0,0,0.80);
}

h4 {
    color: rgba(0,0,0,0.60);
}

p{
    color: rgba(0,0,0,0.8);
    margin-left: 50px;
    margin-right: 25px;
}

img {
    display: inline-block;
    padding: 10px;
    height: 50px;
}