<html>

<head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h1>Learn Essential Skills</h1>
      <h4>Learn essential skills for navigating both mobile and non-mobile devices.</h4>
    </div>
  </div>
  <div class="card-content-left">
    <b>Content</b>
    <ul>
      <li>Unlocking mobile devices</li>
      <li>Gestures for touchscreens</li>
      <li>Adjusting the volume</li>
      <li>Using apps</li>
      <li>Setting up phone/video calls</li>
      <li>Unlocking/Logging into your device</li>
      <li>Finding saved photos and files</li>
    </ul>
  </div>
  <div class="card-content-right">
    <img id="introGestures" src="../assets/intro-gestures.png">
  </div>
</div>

</html>
