ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

li {
  height: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#img {
  float: left;
}

#text {
  float: right;
  margin-top: 2px;
}

#myCanvas {
  float: left;
}

.active {
  outline: 2px solid coral;
  transition: 0.1s ease;
}

.buttonImg {
  height: 30px;
  border: 1px solid #000000;
  border-radius: 2px;
}

.mat-btn {
  display: block;
  background: #666;
  color: white;
  height: 30px;
  width: 60px;
  text-align: left;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px !important;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid #000000;
  border-radius: 2px;
  transition: 0.1s ease;
}
