#img {
  float: left;
  
}

#text {
  float: right;
  
}

.buttonImg {
    height: 30px;
}

.mat-btn {
  background: #666;
  color: white;
  height: 30px;
  width: 60px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: left;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 14px !important;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}