<div id="img">
    <input type="image" src="{{left[0]}}" name="left0" class="buttonImg" id="left0">
    <input type="image" src="{{left[1]}}" name="left1" class="buttonImg" id="left1">
    <input type="image" src="{{left[2]}}" name="left2" class="buttonImg" id="left2">
    <input type="image" src="{{left[3]}}" name="left3" class="buttonImg" id="left3">
    <input type="image" src="{{left[4]}}" name="left4" class="buttonImg" id="left4">
    <input type="image" src="{{left[5]}}" name="left5" class="buttonImg" id="left5">
    <input type="image" src="{{left[6]}}" name="left6" class="buttonImg" id="left6">
    <input type="image" src="{{left[7]}}" name="left7" class="buttonImg" id="left7">
    <input type="image" src="{{left[8]}}" name="left8" class="buttonImg" id="left8">
    <input type="image" src="{{left[9]}}" name="left9" class="buttonImg" id="left9">
  </div>
  
<div id="text">
    <button class="mat-btn" id="right0" (click)="drawLine()>{{right[0]}}</button>
    <button class="mat-btn" id="right1" (click)="drawLine()>{{right[1]}}</button>
    <button class="mat-btn" id="right2" (click)="drawLine()>{{right[2]}}</button>
    <button class="mat-btn" id="right3" (click)="drawLine()>{{right[3]}}</button>
    <button class="mat-btn" id="right4" (click)="drawLine()>{{right[4]}}</button>
    <button class="mat-btn" id="right5" (click)="drawLine()>{{right[5]}}</button>
    <button class="mat-btn" id="right6" (click)="drawLine()>{{right[6]}}</button>
    <button class="mat-btn" id="right7" (click)="drawLine()>{{right[7]}}</button>
    <button class="mat-btn" id="right8" (click)="drawLine()>{{right[8]}}</button>
    <button class="mat-btn" id="right9" (click)="drawLine()>{{right[9]}}</button>
  </div>
