<head>
  <link rel="stylesheet" type="text/css"  href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h1>Complete List of Common Icons</h1>
      <h4>Think about each icon's real-world counterpart. For example, "Search" uses a magnifying glass and "Attach" uses a paperclip.</h4>
    </div>
  </div>

  <div class="card-content">
    <table style="width:100%">
      <tr>
        <th>Icon</th>
        <th>Label</th>
        <th>Note</th>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-add.png" height="30px">
        </td>
        <td>Add</td>
        <td>Add new documents, messages, etc.</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-attach.png" height="30px">
        </td>
        <td>Attach</td>
        <td>Attach pictures or other files to a message</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-back-arrow.png" height="30px">
        </td>
        <td>Back</td>
        <td>Return to the previous screen</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-bookmark.png" height="30px">
        </td>
        <td>Bookmark</td>
        <td>Mark a website or other item as a favorite</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-bright-sunny-day-filled.png" height="30px">
        </td>
        <td>Brightness</td>
        <td>Control how bright your screen is</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-chrome.png" height="30px">
        </td>
        <td>Chrome</td>
        <td>Internet Browser, Google Chrome</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-close-button.png" height="30px">
        </td>
        <td>Close</td>
        <td>Exit or close a window.</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-compact-camera.png" height="30px">
        </td>
        <td>Camera</td>
        <td>Take pictures</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-delete-button.png" height="30px">
        </td>
        <td>Delete</td>
        <td>Similar to "Close" icon</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-delete-filled-2.png" height="30px">
        </td>
        <td>Delete</td>
        <td>Delete a character while typing</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-delete-filled.png" height="30px">
        </td>
        <td>Trash</td>
        <td>Can also mean "Delete"</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-download.png" height="30px">
        </td>
        <td>Download</td>
        <td>Save a file</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-drop-down-arrow.png" height="30px">
        </td>
        <td>Drop-down</td>
        <td>Displays a menu below</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-edit-file.png" height="30px">
        </td>
        <td>Compose</td>
        <td>Create an email or file</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-email-envelope.png" height="30px">
        </td>
        <td>E-Mail</td>
        <td>Can also resemble postage stamps</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-empty-battery.png" height="30px">
        </td>
        <td>Battery</td>
        <td>Fill amount indicates battery level</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-firefox.png" height="30px">
        </td>
        <td>Firefox</td>
        <td>Internet browser, Mozilla Firefox</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-gmail.png" height="30px">
        </td>
        <td>Gmail</td>
        <td>Common E-Mail service, Google Mail</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-hamburger-menu-filled.png" height="30px">
        </td>
        <td>Hamburger Menu</td>
        <td>Toggles display of a vertical menu bar</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-internet-explorer.png" height="30px">
        </td>
        <td>Internet Explorer</td>
        <td>Internet Browser, Internet Explorer</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-magnifying-glass-with-minus.png" height="30px">
        </td>
        <td>Zoom Out</td>
        <td>Make content smaller</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-zoom-in.png" height="30px">
        </td>
        <td>Zoom In</td>
        <td>Make content larger</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-mute.png" height="30px">
        </td>
        <td>Mute</td>
        <td>Sound is off</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-open.png" height="30px">
        </td>
        <td>Folder</td>
        <td>Holds a collection of files</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-play.png" height="30px">
        </td>
        <td>Play</td>
        <td>Play song, video, etc.</td>
      </tr><tr>
        <td>
          <img src="../assets/icons-teach/icons8-pause.png" height="30px">
        </td>
        <td>Pause</td>
        <td>Stop a song, video, etc. </td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-power-off.png" height="30px">
        </td>
        <td>Power</td>
        <td>Power button to turn on/off a device</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-print-filled.png" height="30px">
        </td>
        <td>Print</td>
        <td>Print a file</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-reply-arrow.png" height="30px">
        </td>
        <td>Reply</td>
        <td>Respond to an e-mail</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-reply-all-arrow.png" height="30px">
        </td>
        <td>Reply All</td>
        <td>Respond to everyone in an e-mail</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-safari.png" height="30px">
        </td>
        <td>Safari</td>
        <td>Internet Browser, Safari</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-save.png" height="30px">
        </td>
        <td>Save</td>
        <td>Save a file</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-search.png" height="30px">
        </td>
        <td>Search</td>
        <td>Type in textbox next to "Search" icon</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-sent-filled.png" height="30px">
        </td>
        <td>Send</td>
        <td>Send a message (icon is a paper airplane)</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-settings.png" height="30px">
        </td>
        <td>Settings</td>
        <td>Change preferences for your device</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-sms.png" height="30px">
        </td>
        <td>SMS</td>
        <td>Text Messaging</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-star-50.png" height="30px">
        </td>
        <td>Star</td>
        <td>Same as bookmark/favorites</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-switch-camera-filled.png" height="30px">
        </td>
        <td>Camera Flip</td>
        <td>Switch between front and rear facing cameras</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-three-dots-symbol.png" height="30px">
        </td>
        <td>Overflow Menu</td>
        <td>(Or 3-dot menu) holds small menus</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-toggle-on-filled.png" height="30px">
        </td>
        <td>Toggle Switch</td>
        <td>Turn settings on/off</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-voicemail.png" height="30px">
        </td>
        <td>Voicemail</td>
        <td>Holds voice messages</td>
      </tr>
      <tr>
        <td>
          <img src="../assets/icons-teach/icons8-wireless-network.png" height="30px">
        </td>
        <td>WiFi</td>
        <td>Wireless internet</td>
      </tr>
    </table>
 </div>
</div>